/*this is contact us css*/
body{
	background-color: #000d1a;}
header{
	font-size:1.5vw;
	position: relative;
	top:-10;
	background-color:white;
 	 color: black;}
#image{
	display: inline; 
	position: absolute;
	top: 0px;
	left: 400px;
	height: 150px;
  	width: 500px;}
a.home:link , a.home:visited {
	display: inline;
	position: relative;
	background-color: #000d1a;
	color:white;
	text-decoration: none;
	border-style:solid;
	border-width: 2.5px 1px 1px 2.5px; 
	border-color:#666666#1f1f14   #1f1f14 #666666 ;
	border-radius: 50px;
	padding: 10px 12px 10px 12px;
	font-size:2.5vw;
	margin: 0px 0px 0px 0px ;}

a.home:hover {
	background-color: #000d1a;;
	text-decoration: none;
	display: inline;
	color:black;
}
h3{  	color:white;
	text-align: center;}
p.dis{
	color:white;
	display: block;
	text-align: center; }
p.note{
	color:white;
	display: block; 
	font-weight: 900;
	font-size:1.5vw}
p.submit{
	color:black;
	display: block; 
	font-weight: 900;
	font-size:1.5vw}
h2{	
	color:white;
	display:block;
	font-weight:100;}
form{
	
	 width: 100%;
 	 padding: 12px 20px;
	 margin: 8px 0;
 	 display: inline-block;
	 border-radius: 4px;
	 box-sizing: border-box;
	display: block; 
	position: relavtive;
	top: 400px;
	background-color:#ebebe0;
	border-style:solid;
	border-width: 5px 5px 5px 5px; 
	border-color:#666666;
	margin:0px,0,100px,0;
	}
input[type=text], input[type=email], input[list]{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
 	 box-sizing: border-box;
}
#image-form{
	display: inline; 
	position: absolute;
	top: 650px;
	left: 700px;
	height: 450px;
  	width: 580px;}
#image-form2{
	display: inline; 
	position: absolute;
	top: 150px;
	left: 920px;
	height: 250px;
  	width: 380px;
	z-index:-1;}